.layout-flex {
    display: flex;
}

.layout-flex-xs-row {
    flex-direction: row;
}

.layout-flex-xs-column {
    flex-direction: column;
}

.layout-justify-content-xs-start {
    justify-content: start;
}

.layout-justify-content-xs-end {
    justify-content: flex-end;
}

.layout-justify-content-xs-center {
    justify-content: center;
}

.layout-justify-content-xs-between {
    justify-content: space-between;
}

.layout-justify-content-xs-around {
    justify-content: space-around;
}

.layout-align-items-xs-start {
    align-items: flex-start;
}

.layout-align-items-xs-end {
    align-items: end;
}

.layout-align-items-xs-center {
    align-items: center;
}

.layout-align-items-xs-baseline {
    align-items: baseline;
}

@media (min-width: 576px) {
    .layout-flex {
        display: flex;
    }

    .layout-flex-sm-row {
        flex-direction: row;
    }

    .layout-flex-sm-column {
        flex-direction: column;
    }

    .layout-justify-content-sm-start {
        justify-content: start;
    }

    .layout-justify-content-sm-end {
        justify-content: flex-end;
    }

    .layout-justify-content-sm-center {
        justify-content: center;
    }

    .layout-justify-content-sm-between {
        justify-content: space-between;
    }

    .layout-justify-content-sm-around {
        justify-content: space-around;
    }

    .layout-align-items-sm-start {
        align-items: flex-start;
    }

    .layout-align-items-sm-end {
        align-items: end;
    }

    .layout-align-items-sm-center {
        align-items: center;
    }

    .layout-align-items-sm-baseline {
        align-items: baseline;
    }
}

@media (min-width: 768px) {
    .layout-flex {
        display: flex;
    }

    .layout-flex-md-row {
        flex-direction: row;
    }

    .layout-flex-md-column {
        flex-direction: column;
    }

    .layout-justify-content-md-start {
        justify-content: start;
    }

    .layout-justify-content-md-end {
        justify-content: flex-end;
    }

    .layout-justify-content-md-center {
        justify-content: center;
    }

    .layout-justify-content-md-between {
        justify-content: space-between;
    }

    .layout-justify-content-md-around {
        justify-content: space-around;
    }

    .layout-align-items-md-start {
        align-items: flex-start;
    }

    .layout-align-items-md-end {
        align-items: end;
    }

    .layout-align-items-md-center {
        align-items: center;
    }

    .layout-align-items-md-baseline {
        align-items: baseline;
    }
}

@media (min-width: 992px) {
    .layout-flex {
        display: flex;
    }

    .layout-flex-lg-row {
        flex-direction: row;
    }

    .layout-flex-lg-column {
        flex-direction: column;
    }

    .layout-justify-content-lg-start {
        justify-content: start;
    }

    .layout-justify-content-lg-end {
        justify-content: flex-end;
    }

    .layout-justify-content-lg-center {
        justify-content: center;
    }

    .layout-justify-content-lg-between {
        justify-content: space-between;
    }

    .layout-justify-content-lg-around {
        justify-content: space-around;
    }

    .layout-align-items-lg-start {
        align-items: flex-start;
    }

    .layout-align-items-lg-end {
        align-items: end;
    }

    .layout-align-items-lg-center {
        align-items: center;
    }

    .layout-align-items-lg-baseline {
        align-items: baseline;
    }
}

@media (min-width: 1200px) {
    .layout-flex {
        display: flex;
    }

    .layout-flex-xl-row {
        flex-direction: row;
    }

    .layout-flex-xl-column {
        flex-direction: column;
    }

    .layout-justify-content-xl-start {
        justify-content: start;
    }

    .layout-justify-content-xl-end {
        justify-content: flex-end;
    }

    .layout-justify-content-xl-center {
        justify-content: center;
    }

    .layout-justify-content-xl-between {
        justify-content: space-between;
    }

    .layout-justify-content-xl-around {
        justify-content: space-around;
    }

    .layout-align-items-xl-start {
        align-items: flex-start;
    }

    .layout-align-items-xl-end {
        align-items: end;
    }

    .layout-align-items-xl-center {
        align-items: center;
    }

    .layout-align-items-xl-baseline {
        align-items: baseline;
    }
}