.layout-order-xs-0 {order: 0}
.layout-order-xs-1 {order: 1}
.layout-order-xs-2 {order: 2}
.layout-order-xs-3 {order: 3}
.layout-order-xs-4 {order: 4}
.layout-order-xs-5 {order: 5}
.layout-order-xs-6 {order: 6}
.layout-order-xs-7 {order: 7}
.layout-order-xs-8 {order: 8}
.layout-order-xs-9 {order: 9}
.layout-order-xs-10 {order: 10}
.layout-order-xs-11 {order: 11}
.layout-order-xs-12 {order: 12}
.layout-size-xs-1 {flex-grow: 0; max-width: 8.3333%; flex-basis: 8.3333%}
.layout-size-xs-2 {flex-grow: 0; max-width: 16.6666%; flex-basis: 16.6666%}
.layout-size-xs-3 {flex-grow: 0; max-width: 25%; flex-basis: 25%}
.layout-size-xs-4 {flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%}
.layout-size-xs-5 {flex-grow: 0; max-width: 41.6666%; flex-basis: 41.6666%}
.layout-size-xs-6 {flex-grow: 0; max-width: 50%; flex-basis: 50%}
.layout-size-xs-7 {flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%}
.layout-size-xs-8 {flex-grow: 0; max-width: 66.6666%; flex-basis: 66.6666%}
.layout-size-xs-9 {flex-grow: 0; max-width: 75%; flex-basis: 75%}
.layout-size-xs-10 {flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%}
.layout-size-xs-11 {flex-grow: 0; max-width: 91.6666%; flex-basis: 91.6666%}
.layout-size-xs-12 {flex-grow: 0; max-width: 100%; flex-basis: 100%}

@media (min-width: 576px){
    .layout-order-sm-0 {order: 0}
    .layout-order-sm-1 {order: 1}
    .layout-order-sm-2 {order: 2}
    .layout-order-sm-3 {order: 3}
    .layout-order-sm-4 {order: 4}
    .layout-order-sm-5 {order: 5}
    .layout-order-sm-6 {order: 6}
    .layout-order-sm-7 {order: 7}
    .layout-order-sm-8 {order: 8}
    .layout-order-sm-9 {order: 9}
    .layout-order-sm-10 {order: 10}
    .layout-order-sm-11 {order: 11}
    .layout-order-sm-12 {order: 12}
    .layout-size-sm-1 {flex-grow: 0; max-width: 8.3333%; flex-basis: 8.3333%}
    .layout-size-sm-2 {flex-grow: 0; max-width: 16.6666%; flex-basis: 16.6666%}
    .layout-size-sm-3 {flex-grow: 0; max-width: 25%; flex-basis: 25%}
    .layout-size-sm-4 {flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%}
    .layout-size-sm-5 {flex-grow: 0; max-width: 41.6666%; flex-basis: 41.6666%}
    .layout-size-sm-6 {flex-grow: 0; max-width: 50%; flex-basis: 50%}
    .layout-size-sm-7 {flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%}
    .layout-size-sm-8 {flex-grow: 0; max-width: 66.6666%; flex-basis: 66.6666%}
    .layout-size-sm-9 {flex-grow: 0; max-width: 75%; flex-basis: 75%}
    .layout-size-sm-10 {flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%}
    .layout-size-sm-11 {flex-grow: 0; max-width: 91.6666%; flex-basis: 91.6666%}
    .layout-size-sm-12 {flex-grow: 0; max-width: 100%; flex-basis: 100%}
}
@media (min-width: 768px){
    .layout-order-md-0 {order: 0}
    .layout-order-md-1 {order: 1}
    .layout-order-md-2 {order: 2}
    .layout-order-md-3 {order: 3}
    .layout-order-md-4 {order: 4}
    .layout-order-md-5 {order: 5}
    .layout-order-md-6 {order: 6}
    .layout-order-md-7 {order: 7}
    .layout-order-md-8 {order: 8}
    .layout-order-md-9 {order: 9}
    .layout-order-md-10 {order: 10}
    .layout-order-md-11 {order: 11}
    .layout-order-md-12 {order: 12}
    .layout-size-md-1 {flex-grow: 0; max-width: 8.3333%; flex-basis: 8.3333%}
    .layout-size-md-2 {flex-grow: 0; max-width: 16.6666%; flex-basis: 16.6666%}
    .layout-size-md-3 {flex-grow: 0; max-width: 25%; flex-basis: 25%}
    .layout-size-md-4 {flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%}
    .layout-size-md-5 {flex-grow: 0; max-width: 41.6666%; flex-basis: 41.6666%}
    .layout-size-md-6 {flex-grow: 0; max-width: 50%; flex-basis: 50%}
    .layout-size-md-7 {flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%}
    .layout-size-md-8 {flex-grow: 0; max-width: 66.6666%; flex-basis: 66.6666%}
    .layout-size-md-9 {flex-grow: 0; max-width: 75%; flex-basis: 75%}
    .layout-size-md-10 {flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%}
    .layout-size-md-11 {flex-grow: 0; max-width: 91.6666%; flex-basis: 91.6666%}
    .layout-size-md-12 {flex-grow: 0; max-width: 100%; flex-basis: 100%}
}
@media (min-width: 992px){
    .layout-order-lg-0 {order: 0}
    .layout-order-lg-1 {order: 1}
    .layout-order-lg-2 {order: 2}
    .layout-order-lg-3 {order: 3}
    .layout-order-lg-4 {order: 4}
    .layout-order-lg-5 {order: 5}
    .layout-order-lg-6 {order: 6}
    .layout-order-lg-7 {order: 7}
    .layout-order-lg-8 {order: 8}
    .layout-order-lg-9 {order: 9}
    .layout-order-lg-10 {order: 10}
    .layout-order-lg-11 {order: 11}
    .layout-order-lg-12 {order: 12}
    .layout-size-lg-1 {flex-grow: 0; max-width: 8.3333%; flex-basis: 8.3333%}
    .layout-size-lg-2 {flex-grow: 0; max-width: 16.6666%; flex-basis: 16.6666%}
    .layout-size-lg-3 {flex-grow: 0; max-width: 25%; flex-basis: 25%}
    .layout-size-lg-4 {flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%}
    .layout-size-lg-5 {flex-grow: 0; max-width: 41.6666%; flex-basis: 41.6666%}
    .layout-size-lg-6 {flex-grow: 0; max-width: 50%; flex-basis: 50%}
    .layout-size-lg-7 {flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%}
    .layout-size-lg-8 {flex-grow: 0; max-width: 66.6666%; flex-basis: 66.6666%}
    .layout-size-lg-9 {flex-grow: 0; max-width: 75%; flex-basis: 75%}
    .layout-size-lg-10 {flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%}
    .layout-size-lg-11 {flex-grow: 0; max-width: 91.6666%; flex-basis: 91.6666%}
    .layout-size-lg-12 {flex-grow: 0; max-width: 100%; flex-basis: 100%}
}
@media (min-width: 1200px){
    .layout-order-xl-0 {order: 0}
    .layout-order-xl-1 {order: 1}
    .layout-order-xl-2 {order: 2}
    .layout-order-xl-3 {order: 3}
    .layout-order-xl-4 {order: 4}
    .layout-order-xl-5 {order: 5}
    .layout-order-xl-6 {order: 6}
    .layout-order-xl-7 {order: 7}
    .layout-order-xl-8 {order: 8}
    .layout-order-xl-9 {order: 9}
    .layout-order-xl-10 {order: 10}
    .layout-order-xl-11 {order: 11}
    .layout-order-xl-12 {order: 12}
    .layout-size-xl-1 {flex-grow: 0; max-width: 8.3333%; flex-basis: 8.3333%}
    .layout-size-xl-2 {flex-grow: 0; max-width: 16.6666%; flex-basis: 16.6666%}
    .layout-size-xl-3 {flex-grow: 0; max-width: 25%; flex-basis: 25%}
    .layout-size-xl-4 {flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%}
    .layout-size-xl-5 {flex-grow: 0; max-width: 41.6666%; flex-basis: 41.6666%}
    .layout-size-xl-6 {flex-grow: 0; max-width: 50%; flex-basis: 50%}
    .layout-size-xl-7 {flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%}
    .layout-size-xl-8 {flex-grow: 0; max-width: 66.6666%; flex-basis: 66.6666%}
    .layout-size-xl-9 {flex-grow: 0; max-width: 75%; flex-basis: 75%}
    .layout-size-xl-10 {flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%}
    .layout-size-xl-11 {flex-grow: 0; max-width: 91.6666%; flex-basis: 91.6666%}
    .layout-size-xl-12 {flex-grow: 0; max-width: 100%; flex-basis: 100%}
}